# Dependências do Node
node_modules/
npm-debug.log

# Variáveis de Ambiente (MUITO IMPORTANTE: Protege suas chaves de API)
.env
.env.*

# Arquivos temporários e de cache da Netlify
.netlify/

# Arquivos de Sistema Operacional (Mac/Windows)
.DS_Store
Thumbs.db

# Configurações de Editores de Código
.vscode/
.idea/

# Diretórios de build (se vier a usar no futuro)
dist/
build/